.slider .btn {
  margin-top: 20px;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 20px;
}

.section-showcase {
  background-image: url(../img/chennai_central.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-header {
  margin-top: 2px !important;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.footer-menu {
  margin-bottom: 0px !important;
}

.footer-menu a {
  padding: 2rem !important;
}

.small-menu > a {
  align-self: center !important;
}

.page-footer a:hover {
  color: #ffc107 !important;
}